<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lyrics Analytics - Artist Search</title>
    <script src="static/js/htmx.min.js"></script>
</head>

<body>
    <div class="container">
        <h1>Search for an Artist</h1>
        <input class="form-control" type="search" name="artist-name" placeholder="Begin Typing To Search Artists..."
            hx-post="/search-artist" hx-trigger="input changed delay:500ms, keyup[key=='Enter']"
            hx-target="#search-results">
    </div>
    <div>
        <h1>Artists in store</h1>
        {% for artist in artists %}
        <p>{{ artist.name }} ({{ artist.external_artist_id }})</p>
        {% endfor %}
    </div>
    <div id="search-results"></div>
</body>

</html>